* {
    box-sizing: border-box;
    text-align: center;
}

#container {
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 266px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-top: -125px;
    margin-bottom: 25px;
    text-shadow: 2px 2px gray;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: black;
}